# Environment secrets
.env
Config.xcconfig
Secrets.swift
sEYEght/Secrets.swift

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# macOS
.DS_Store

# CocoaPods / SPM
Pods/
.build/
